openapi: 3.1.0
info:
  title: Epic Online Services Web Achievements Leaderboards API
  version: 1.0.0
  description: REST surface of Epic Online Services (EOS). Provides cross-platform game backend capabilities including OAuth-based authentication, the Connect Interface (product user ID exchange), Player Data and Title Storage, Achievements, Stats, Leaderboards, Friends, Lobby/Sessions, Sanctions, and Ecom entitlements. All requests are gated behind an Epic developer organization, sandbox, and client credentials issued in the EOS Developer Portal. Best-effort spec derived from publicly documented surfaces; not exhaustive.
  contact:
    name: Epic Online Services
    url: https://dev.epicgames.com/docs/web-api-ref
  license:
    name: Proprietary
servers:
- url: https://api.epicgames.dev
  description: Epic Online Services production base URL
security:
- oauthClientCredentials: []
- bearerAuth: []
tags:
- name: Leaderboards
paths:
  /leaderboards/v1/{deploymentId}/definitions:
    parameters:
    - in: path
      name: deploymentId
      required: true
      schema:
        type: string
    get:
      tags:
      - Leaderboards
      summary: List leaderboard definitions
      operationId: listLeaderboardDefinitions
      responses:
        '200':
          description: Leaderboard definitions
  /leaderboards/v1/{deploymentId}/leaderboard/{leaderboardId}/ranks:
    parameters:
    - in: path
      name: deploymentId
      required: true
      schema:
        type: string
    - in: path
      name: leaderboardId
      required: true
      schema:
        type: string
    get:
      tags:
      - Leaderboards
      summary: Get leaderboard ranks
      operationId: getLeaderboardRanks
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Leaderboard rank entries
components:
  securitySchemes:
    oauthClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.epicgames.dev/auth/v1/oauth/token
          scopes:
            basic_profile: Basic profile access
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: EOS bearer access token issued by the OAuth token endpoint.
