openapi: 3.1.0
info:
  title: Epic Online Services Web API
  version: "1.0.0"
  description: >-
    REST surface of Epic Online Services (EOS). Provides cross-platform game
    backend capabilities including OAuth-based authentication, the Connect
    Interface (product user ID exchange), Player Data and Title Storage,
    Achievements, Stats, Leaderboards, Friends, Lobby/Sessions, Sanctions,
    and Ecom entitlements. All requests are gated behind an Epic developer
    organization, sandbox, and client credentials issued in the EOS
    Developer Portal. Best-effort spec derived from publicly documented
    surfaces; not exhaustive.
  contact:
    name: Epic Online Services
    url: https://dev.epicgames.com/docs/web-api-ref
  license:
    name: Proprietary
servers:
  - url: https://api.epicgames.dev
    description: Epic Online Services production base URL
security:
  - oauthClientCredentials: []
  - bearerAuth: []
tags:
  - name: Auth
  - name: Connect
  - name: PlayerDataStorage
  - name: TitleStorage
  - name: Achievements
  - name: Stats
  - name: Leaderboards
  - name: Sanctions
  - name: Ecom
paths:
  /auth/v1/oauth/token:
    post:
      tags: [Auth]
      summary: Get an OAuth 2.0 access token
      operationId: getOAuthToken
      description: >-
        Exchange client credentials, an authorization code, an exchange code,
        a refresh token, or a device-code grant for an EOS access token.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials, authorization_code, refresh_token, exchange_code, password, device_code, external_auth]
                code:
                  type: string
                refresh_token:
                  type: string
                deployment_id:
                  type: string
                scope:
                  type: string
      responses:
        "200":
          description: Access token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                  token_type:
                    type: string
                  refresh_token:
                    type: string
                  account_id:
                    type: string
  /auth/v1/oauth/verify:
    get:
      tags: [Auth]
      summary: Verify an OAuth access token
      operationId: verifyOAuthToken
      responses:
        "200":
          description: Token verification result
  /auth/v1/oauth/revoke:
    post:
      tags: [Auth]
      summary: Revoke an OAuth token
      operationId: revokeOAuthToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Token revoked
  /auth/v1/accounts/{accountId}:
    get:
      tags: [Auth]
      summary: Get Epic account info
      operationId: getEpicAccount
      parameters:
        - in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Epic account record
  /connect/v1/{deploymentId}/users:
    get:
      tags: [Connect]
      summary: Look up product user IDs for external accounts
      operationId: queryConnectUsers
      parameters:
        - in: path
          name: deploymentId
          required: true
          schema:
            type: string
        - in: query
          name: externalAccountType
          schema:
            type: string
        - in: query
          name: externalAccountId
          schema:
            type: string
      responses:
        "200":
          description: Connect user mappings
  /player-data-storage/v1/{deploymentId}/file/{filename}:
    parameters:
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
      - in: path
        name: filename
        required: true
        schema:
          type: string
    get:
      tags: [PlayerDataStorage]
      summary: Download a player data file
      operationId: getPlayerDataFile
      responses:
        "200":
          description: File content
    put:
      tags: [PlayerDataStorage]
      summary: Upload a player data file
      operationId: putPlayerDataFile
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: File stored
    delete:
      tags: [PlayerDataStorage]
      summary: Delete a player data file
      operationId: deletePlayerDataFile
      responses:
        "204":
          description: File deleted
  /title-storage/v1/{deploymentId}/file/{filename}:
    parameters:
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
      - in: path
        name: filename
        required: true
        schema:
          type: string
    get:
      tags: [TitleStorage]
      summary: Download a title storage file
      operationId: getTitleStorageFile
      responses:
        "200":
          description: File content
  /stats/v1/{deploymentId}/users/{productUserId}/stats:
    parameters:
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
      - in: path
        name: productUserId
        required: true
        schema:
          type: string
    get:
      tags: [Stats]
      summary: List stats for a product user
      operationId: listUserStats
      responses:
        "200":
          description: Stats list
    post:
      tags: [Stats]
      summary: Ingest stats for a product user
      operationId: ingestUserStats
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  value:
                    type: integer
      responses:
        "200":
          description: Stats ingested
  /achievements/v2/{deploymentId}/definitions:
    parameters:
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
    get:
      tags: [Achievements]
      summary: List achievement definitions
      operationId: listAchievementDefinitions
      responses:
        "200":
          description: Achievement definitions
  /achievements/v2/{deploymentId}/users/{productUserId}/achievements:
    parameters:
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
      - in: path
        name: productUserId
        required: true
        schema:
          type: string
    get:
      tags: [Achievements]
      summary: List player achievements
      operationId: listPlayerAchievements
      responses:
        "200":
          description: Player achievements
  /leaderboards/v1/{deploymentId}/definitions:
    parameters:
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
    get:
      tags: [Leaderboards]
      summary: List leaderboard definitions
      operationId: listLeaderboardDefinitions
      responses:
        "200":
          description: Leaderboard definitions
  /leaderboards/v1/{deploymentId}/leaderboard/{leaderboardId}/ranks:
    parameters:
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
      - in: path
        name: leaderboardId
        required: true
        schema:
          type: string
    get:
      tags: [Leaderboards]
      summary: Get leaderboard ranks
      operationId: getLeaderboardRanks
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: Leaderboard rank entries
  /sanctions/v1/{deploymentId}/sanctions:
    parameters:
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
    get:
      tags: [Sanctions]
      summary: Query player sanctions
      operationId: listSanctions
      parameters:
        - in: query
          name: targetUserId
          schema:
            type: string
      responses:
        "200":
          description: Sanctions list
  /ecom/v1/identities/{accountId}/entitlements:
    get:
      tags: [Ecom]
      summary: List entitlements for an Epic account
      operationId: listEntitlements
      parameters:
        - in: path
          name: accountId
          required: true
          schema:
            type: string
        - in: query
          name: namespace
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
            enum: [ACTIVE, REVOKED]
      responses:
        "200":
          description: Entitlements list
components:
  securitySchemes:
    oauthClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.epicgames.dev/auth/v1/oauth/token
          scopes:
            basic_profile: Basic profile access
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: EOS bearer access token issued by the OAuth token endpoint.
